@font-face {
    font-family: 'CustomFont'; /* Name your font family */
    src: url('IMAGES/SpeedyRegular-7BLoE.ttf'); /* Locate the .ttf file within your directory*/
  }
  
  h1,h2,h2,h3,h4,h5,h6{
    font-family: 'CustomFont', sans-serif; 
    color: whitesmoke;/* Use the font family */
  }
.disply div p{
    font-family: 'CustomFont', sans-serif; 
}
.disply div h1{
    font-size: 300%;
    font-family: 'CustomFont', sans-serif; 
    margin-bottom: 0px;
    font-weight: 500;
}
*{
    color: whitesmoke;
}  

#header{
    display:flex ;
    align-items:start ;
    justify-content: space-between;
    background-color:#232027 ;
    box-shadow:0 6px 50px 1px rgba(255, 255, 255,0.3) ;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px;
    height: 60px;
}
.logo{
    height: 61.725px;
    width: 109.613px;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style-type: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: 	#e23636;
    transition:0.4s ease ;
}
#navbar li a:hover{
    color: whitesmoke;  
}
#cart{
    height: 30px;
    width: 30px;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #403e3e	;
}
.footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
.footer .flogo{
    margin-bottom: 20px;
}
.footer h2,p{
    margin: 2px 2px;
}
.footer a{
    text-decoration: none;
    margin-bottom: 5px;
}
.footer .follow i{  
    padding-right:4px ;
    cursor: pointer;
}
.fotterlogo{
    height: 200px;
    width: 200px;
    border-radius: 5px;
    margin: 20px;
    border: 2px solid snow;
}
/*style.css*/
body {
    line-height: 1.5;
    min-height: 100vh;
}

.loginbox {
    margin: 5%;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
}
.contact-container{
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
}


label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}


input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #e23636;
    width: 100%;
    font-size: 16px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
#productdetails .singleprodimg{
    width: 40%;
    margin-right: 40px;
}
.small-imggrp{
    display: flex;
    justify-content:space-evenly;
}
.smallimggrp{
    flex-basis: 25%;
    cursor: pointer;
}
#select{
    background-color:black;
    display: block;
}
#productdetails{
    display: flex;    
    margin-top: 20px;
}
#productdetails .sinprodet{
    width: 50%;
    padding: 30px;
}
#productdetails .sinprodet h4{
    padding-top: 0px;
    color: #7d7a7a;
}
#productdetails .sinprodet input{
    width: 50px;
    background-color: black;
    display: inline;
}
#productdetails .sinprodet button{
    width: 40%;
}
#productdetails .sinprodet span{
    line-height: 25px ;
}

